
ReservesEstimation.FormulaLib/bin
ReservesEstimation.FormulaLib/obj
ReservesEstimation.Web/bin
ReservesEstimation.Web/obj
.vs/ReservesEstimation/DesignTimeBuild/.dtbcache.v2
.vs/ReservesEstimation/v16/.suo
