
ReservesEstimation.FormulaLib/bin
ReservesEstimation.FormulaLib/obj
ReservesEstimation.Web/bin
ReservesEstimation.Web/obj
ReservesEstimation.Web/Properties/PublishProfiles
ReservesEstimation.Web/.config
.vs/ReservesEstimation/DesignTimeBuild
.vs/ReservesEstimation/v16
